.section {
    padding: 10px;
    margin: 10px;
 
}
.section__list {
    font-size: 20px;
    border-top: 1.5px solid hsl(27, 11%, 85%);
     
}

.section__listStyle {
    padding: 0;
    font-size: smaller;
    
}